@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat&display=swap');
/* 
Orange #FF1616
Blue #3E6B89
Background #F5F5F5
*/

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #F5F5F5;
}
a {
  text-decoration: none;
}
.navbar-first {
  position: fixed;
  top: 0;
  background-color: #F5F5F5;
  height: 5%;
  width: 100%;
  font-family: 'Hammersmith One', sans-serif;
  box-shadow: 1px 5px 15px #121212;
}
.navbar-first a {
  color: black;
  font-size: 1.25vw;
}
.navbar-first a:hover {
  text-decoration: underline;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}
img {
  height: 600px;
  width: auto;
}
.home-first {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color:#F5F5F5;
}
.home-second {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 75%;
  background-color: #F5F5F5;
}
.home-third {
  display: flex;
  justify-content: center;
  width: 65%;
  background-color: #F5F5F5;
}

.project-first {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color:#F5F5F5;
}
.project-second {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  width: 75%;
  background-color: #F5F5F5;
}
.project-third {
  width: 65%;
  background-color: #F5F5F5;
}
.project-detail img {
  height: 200px;
  width: auto;
}

.footer-first {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
  font-family: 'Hammersmith One', sans-serif;
}
