@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat:wght@400;600;700&display=swap');
/* 
Orange #FF1616
Blue #3E6B89
Background #F5F5F5
Rhone Grey rgb(210, 207, 207)
*/

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #F5F5F5;
}
a {
  text-decoration: none;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 500%;
  font-weight: bolder;
  color: black;
  margin: 0;
}
h2 {
  color: #FF1616;
  padding: 10px 10px 0px 10px;
  margin: 0;
}
.icons {
  display: flex;
  list-style-type: none;
  padding: 0;
}


.navbar-first {
  position: fixed;
  top: 0;
  background-color: black;
  height: 5%;
  width: 100%;
  font-family: 'Hammersmith One', sans-serif;
  font-size: medium;
  box-shadow: 1px 5px 15px #28282B;
}
.navbar-first a {
  color: #F5F5F5;
}
.navbar-first a:hover {
  font-size: 110%;
  color: #F5F5F5;
}
.navbar-first ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}


.home-first {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  overflow: auto;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #3E6B89;
}
.home-second {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 75%;
}
.home-third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
.home-third ul {
  display: flex;
  list-style-type: none;
}
.home-words {
  width: 60%;
  padding: 20px;
  margin: 20px 20px 100px 20px;
  border: 5px solid black;
}


.about-first {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  overflow: auto;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #3E6B89;
}
.about-second {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 75%;
}
.about-third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
.about-third p {
  width: 60%;
  padding: 20px;
  margin: 20px;
  border: 5px solid black;
}
.self {
  width: 50%;
  border: 10px solid black;
}


.connect-first {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: black;
}
.connect-second {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 75%;
}
.connect-third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
.connect-third p {
  text-align: left;
  width: 100%;
  font-size: xx-large;
}
.connect-third a {
  color: black;
}
.connect-links {
  padding: 30px;
  margin: 20px;
  box-shadow: 0px 1px 25px lightslategray;
  border: 5px solid black;
  background-image: linear-gradient(to bottom right, #FF1616, #3E6B89);
}


.techstack-first {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 1px 25px lightslategray;
  border: 5px solid black;
  background-image: linear-gradient(to bottom right, #FF1616, #3E6B89);
}
.techstack-first ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
  list-style-type: none;
  color: black;
  margin: 10px;
}
.techstack-first ul > :first-child {
  font-size: large;
  font-weight: bolder;
}


.project-first {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  align-items: center;
  background-color: #F5F5F5;
  font-family: 'Montserrat', sans-serif;
}
.project-second {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 75%;
}
.project-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.projects {
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.projects li {
  margin-top: 150px;
}
.projects img {
  height: auto;
  width: 100%;
  border: 10px solid black;
}


.footer-first {
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 5%;
  width: 100%;
  color: #F5F5F5;
  background-color: black;
  font-family: 'Hammersmith One', sans-serif;
  box-shadow: 1px 5px 15px #28282B;
}
.footer-first ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.footer-first img {
  align-items: center;
  height: 19%;
}
.footer-first a {
  color: #F5F5F5;
}
